body {
    margin: 0;
    background-color: #DFE4F5;
    font-family: poppins;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mainSection {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    height: 90%;
    padding: 10px;
}

h1 {
    padding-left: 3%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {
    font-size: 15px;
}

/********nav********/
.search {
    float: left;
    width: 20%;
    border: 1px solid #c3cce8;
    border-radius: 5px;
    margin-left: 3%;
    padding: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border: none;
    outline: none;
}

.search img {
    width: 24px;
    height: 24px;
    padding-left: 3%;
}

.search p {
    color: gray;
}

.navigation {
    float: right;
    margin-right: 3%;
}

.navigation li {
    display: inline-block;
}

a:link, a:visited {
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    margin: 2px;
    color: black;
}

a:hover {
    background-color: #849FFF;
    color: white;
}

/********users********/

.allUsersContainer {
    width: 90%;
    padding: 3%;

    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.oneUserContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.oneUserContainer:hover {
    border: 1px solid #c3cce8;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #c3cce8;
}

img {
    width: 125px;
    height: 125px;
    padding-right: 5%;
}

.tagsContainer {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagsContainer p {
    color: #849FFF;
    border: 1px solid #c3cce8;
    border-radius: 20px;
    padding: 3px 6px;
    margin: 0;
    font-size: 13px;
}