body {
    margin: 0;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: poppins;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 300;
}

.countDownContainer {
    display: flex;
}
.countElement {
   padding: 0 20px;
   text-align: center;
}

.bigText {
    font-size: 30px;
}
