body {
    margin: 0;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-family: poppins;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 0 10px;
}
